#container {
	margin: 0 auto;
	padding: 0px;
	width: 924px;
	height: 529px;
}

body {
	margin: 0 auto;
	padding: 0px;
	font-size: 12px;
	overflow: hidden;
	background-color: #E7ECEF;
}

#top {
	/* background-image: url(../images/logon_top.gif); */
	background-repeat: no-repeat;
	height: 96px;
	width: 545px;
}

#mid {
	margin-top: 0px;
	/* background-image: url(../images/logon_middle.gif); */
	height: 180px;
	width: 545px;
}

#bottom {
	/* background-image: url(../images/logon_end.gif); */
	background-repeat: no-repeat;
	height: 14px;
	width: 545px;
}

ul {
	list-style: none;
}

#login {
	margin-top: 7%;
	background-image: url("../images/login_bj.jpg");
	background-repeat: no-repeat;
}

#loginform input {
	margin-bottom: 10px;
}
#loginform{
	margin-left: 60px;
	padding-top: -10px;
}

a {
	text-decoration: none;
}

#submit {
	margin-left: 50px;
}
#usernameFont, #passwordFont, #randomFont{
	color: white;
}
#usernameSp,#passwordSp,#password2Sp{
	margin-left: 10px;
	color: red;
}
#usernameFont, #passwordFont, #repeatPasswordFont, #randomFont{
	color: white;
}
#mess{
	font-weight: bold;
	font-size: 12px;
	color: red;
	height: 1.5em;
	margin-bottom: 10px;
	margin-left: 10px;
}
.Sp2{
	margin-left: 10px;
	color: red;
}
